{% extends 'base.html' %}
{% load static %}

        
        {% block content %}
            
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">شهرزاد</h1>
                    <p class="lead fw-normal text-white-50 mb-0">همرار کتاب خوان تو</p>
                </div>
            </div>
        </header>
        
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h1 dir="rtl" > <img src="{% static 'assets/new.svg' %}" width="30px"> جدید ترین کتاب ها </h1>
                <div id="bookview" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" style="padding-top: 60px;">
               
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h1 dir="rtl" > <img src="{% static 'assets/pops.svg' %}" width="30px"> مهبوب ترین کتاب ها </h1>
                <div id="popbookview" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" style="padding-top: 60px;">

                </div>
            </div>
        </section>

        <script src="{% static 'js/index.js' %}"></script>
        {% endblock content %}
            

