{% extends 'base.html' %}
{% load static %}

        
        {% block content %}
        
        <section class="py-5">
            <div  class="container px-4 px-lg-5 mt-5">
                <div id="titler" dir="rtl" style="padding-right: 100px;"></div>
                <div id="bookview" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" style="padding-top: 75px;">
                    

                </div>
            </div>
        </section>
        
        <script src="{% static 'js/prlist.js' %}"></script>
        {% endblock content %}
            


